.header {
  z-index: 10;
  display: flex;
  position: fixed;
  height: 4.625rem;
  inset: 0 0 auto 0;
  padding: 0 1.75rem;
  align-items: center;
  justify-content: space-between;

  > :global(.outline-select),
  > :global(.navbar) {
    display: none; 
  }
}

.navbar {
  height: 100%;
  
  ul {
    gap: .25rem;
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    list-style: none;
    
    li {
      width: fit-content;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 7.84dvw;
  }

  .header > :global(.outline-select),
  .header > :global(.navbar) {
    display: flex; 
  }

  .header > :global(.icon-button) {
    display: none; 
  }
}